@import 'blocks/hero';
@import 'blocks/service';
@import 'blocks/cases';

section {
    position: absolute;
    top: 100%;
    left: 0;
    height: 80vh;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease;

    &.active {
        top: 10%;
        opacity: 1;
        visibility: visible;
    }

    &.next {
        top: 95%;
        opacity: 1;
        visibility: visible;
    }

    &.prev {
        top: -100%;
    }
}


* {
    font-family: 'transat-text';
}

body {
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
    transition: all .6s ease;

    &.black {
        background-color: #000;
    }

    &.white {
        background-color: #fff;
    }
}


.btn {
    width: 135px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 60px;
    cursor: pointer;
}